.loading {
    display: block !important;
  }
  .success {
    color: #20a020;
  }
  .danger {
    color: #a02020;
  }
  alert {
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
  }
  .alert-info {
    color: #5e461b;
    background-color: #d3c6a9;
  }
  .alert-danger {
    color: #a02020;
    background-color: #ffe0e0;
  }
  .alert-success {
    color: #20a020;
    background-color: #eeffe0;
  }